$col-primary: #2E2D7A;
$col-primary-lighter: lighten($col-primary, 20%);
$col-primary-lightest: lighten($col-primary, 40%);
$col-primary-ghost: lighten($col-primary, 60%);
$col-primary-darker: darken($col-primary, 20%);
$col-primary-darkest: darken($col-primary, 40%);
$col-primary-darkestest: darken($col-primary, 60%);

$col-secondary: #32194D;
$col-secondary-lighter: lighten($col-secondary, 20%);
$col-secondary-lightest: lighten($col-secondary, 40%);
$col-secondary-ghost: lighten($col-secondary, 60%);
$col-secondary-darker: darken($col-secondary, 20%);
$col-secondary-darkest: darken($col-secondary, 40%);

$col-info: #AA2C91;
$col-info-lighter: lighten($col-info, 20%);
$col-info-lightest: lighten($col-info, 40%);
$col-info-ghost: lighten($col-info, 60%); // just white
$col-info-darker: darken($col-info, 20%);
$col-info-darkest: darken($col-info, 40%);

$col-success: #50997A;
$col-success-lighter: lighten($col-success, 20%);
$col-success-lightest: lighten($col-success, 40%);
$col-success-darker: darken($col-success, 20%);
$col-success-darkest: darken($col-success, 40%);

$col-danger: #E67372;
$col-danger-lighter: lighten($col-danger, 20%);
$col-danger-lightest: lighten($col-danger, 40%);
$col-danger-darker: darken($col-danger, 20%);
$col-danger-darkest: darken($col-danger, 40%);

$col-warning: #E10E55;
$col-warning-lighter: lighten($col-warning, 20%);
$col-warning-lightest: lighten($col-warning, 40%);
$col-warning-darker: darken($col-warning, 20%);
$col-warning-darkest: darken($col-warning, 40%);

$col-emp: #AF872E;
$col-emp-lighter: lighten($col-emp, 20%);
$col-emp-lightest: lighten($col-emp, 40%);
$col-emp-darker: darken($col-emp, 20%);
$col-emp-darkest: darken($col-emp, 40%);

$col-light: #fff;
$col-light-darker: #f8f9fa;
$col-light-darkest: #e9eaeb;
$col-text: #10203e;
$col-text-light: #768392;

@mixin btn-colors($colP, $colD, $colL, $colT, $colTA) {
  background-color: $colP !important;
  border-color: $colD !important;
  color: $colT !important;

  &:hover, &:focus {
    background-color: $colD !important;
    border-color: $colD !important;
    color: $colTA !important;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $colD !important;
  }

  &.active {
    background-color: $colL !important;
    border-color: $colD !important;
    color: $colTA !important;
  }
}

html#ov {
  // override bootstrap styles

  body#body {
    #root {

      .text-primary {
        color: $col-primary !important;
      }

      .text-primary-darker {
        color: $col-primary-darker !important;
      }

      .text-primary-ghost {
        color: $col-primary-ghost !important;
      }

      .text-secondary {
        color: $col-secondary !important;
      }

      .text-secondary-darker {
        color: $col-secondary-darker !important;
      }

      .text-success {
        color: $col-success !important;
      }

      .text-danger {
        color: $col-danger !important;
      }

      .text-warning {
        color: $col-warning !important;
      }

      .text-info {
        color: $col-info !important;
      }

      .text-info-ghost {
        color: $col-info-ghost !important;
      }

      .text-emp {
        color: $col-emp !important;
      }

      .text-light {
        color: $col-light !important;
      }

      .bg-primary {
        background-color: $col-primary !important;
      }

      .bg-primary-lighter {
        background-color: $col-primary-lighter !important;
      }

      .bg-primary-lightest {
        background-color: $col-primary-lightest !important;
      }

      .bg-primary-ghost {
        background-color: $col-primary-ghost !important;
      }

      .bg-primary-darker {
        background-color: $col-primary-darker !important;
      }

      .bg-primary-darkest {
        background-color: $col-primary-darkest !important;
      }

      .bg-secondary {
        background-color: $col-secondary !important;
      }

      .bg-secondary-lighter {
        background-color: $col-secondary-lighter !important;
      }

      .bg-secondary-lightest {
        background-color: $col-secondary-lightest !important;
      }

      .bg-secondary-ghost {
        background-color: $col-secondary-ghost !important;
      }

      .bg-secondary-darker {
        background-color: $col-secondary-darker !important;
      }

      .bg-secondary-darkest {
        background-color: $col-secondary-darkest !important;
      }

      .bg-success {
        background-color: $col-success !important;
      }

      .bg-danger {
        background-color: $col-danger !important;
      }

      .bg-danger-lighter {
        background-color: $col-danger-lighter !important;
      }

      .bg-danger-lightest {
        background-color: $col-danger-lightest !important;
      }

      .bg-warning {
        background-color: $col-warning !important;
      }

      .bg-info {
        background-color: $col-info !important;
      }

      .bg-info-lighter {
        background-color: $col-info-lighter !important;
      }

      .bg-info-lightest {
        background-color: $col-info-lightest !important;
      }

      .bg-info-ghost {
        background-color: $col-info-ghost !important;
      }

      .bg-info-darker {
        background-color: $col-info-darker !important;
      }

      .bg-info-darkest {
        background-color: $col-info-darkest !important;
      }

      .bg-emp {
        background-color: $col-emp !important;
      }

      .bg-light {
        background-color: $col-light !important;
      }

      .bg-light-darker {
        background-color: $col-light-darker !important;
      }

      .bg-light-darkest {
        background-color: $col-light-darkest !important;
      }

      .bd-primary-darker {
        border-color: $col-primary-darker !important;
      }

      .bd-info-darker {
        border-color: $col-info-darker !important;
      }

      .btn-primary, .badge-primary {
        @include btn-colors($col-primary, $col-primary-darker, $col-primary-lighter, $col-light, $col-light);
      }

      .btn-outline-primary {
        @include btn-colors($col-light, $col-primary, $col-primary-lighter, $col-primary, $col-light);
      }

      .btn-primary-dark {
        @include btn-colors($col-primary-darker, $col-primary-darkest, $col-primary, $col-light, $col-light);
      }

      .btn-primary-darker {
        @include btn-colors($col-primary-darkest, $col-primary-darkestest, $col-primary, $col-light, $col-light);
      }

      .btn-secondary, .badge-secondary {
        @include btn-colors($col-secondary, $col-secondary-darker, $col-secondary-lighter, $col-light, $col-light);
      }

      .btn-outline-secondary {
        @include btn-colors($col-light, $col-secondary, $col-secondary-lighter, $col-secondary, $col-light);
      }

      .btn-danger, .badge-danger {
        @include btn-colors($col-danger, $col-danger-darker, $col-danger-lighter, $col-light, $col-light);
      }

      .btn-outline-danger {
        @include btn-colors($col-light, $col-danger, $col-danger-lighter, $col-danger, $col-light);
      }

      .btn-warning, .badge-warning {
        @include btn-colors($col-warning, $col-warning-darker, $col-warning-lighter, $col-light, $col-light);
      }

      .btn-outline-warning {
        @include btn-colors($col-light, $col-warning, $col-warning-lighter, $col-warning, $col-light);
      }

      .btn-success, .badge-success {
        @include btn-colors($col-success, $col-success-darker, $col-success-lighter, $col-light, $col-light);
      }

      .btn-outline-success {
        @include btn-colors($col-light, $col-success, $col-success-lighter, $col-success, $col-light);
      }

      .btn-info, .badge-info, .page-item.active .page-link {
        @include btn-colors($col-info, $col-info-darker, $col-info-lighter, $col-light, $col-light);
      }

      .btn-outline-info, .page-link {
        @include btn-colors($col-light, $col-info, $col-info-lighter, $col-info, $col-light);
      }

      .btn-emp, .badge-emp {
        @include btn-colors($col-emp, $col-emp-darker, $col-emp-lighter, $col-light, $col-light);
      }

      .btn-outline-emp {
        @include btn-colors($col-light, $col-emp, $col-emp-lighter, $col-emp, $col-light);
      }

      .btn-light, .badge-light {
        @include btn-colors($col-light, $col-light-darker, $col-light-darkest, $col-text, $col-text);
      }

      input.form-control, textarea.form-control {
        border-color: $col-info;
      }

      .shadow-big {
        box-shadow: 0 30px 70px 0 rgba(226, 232, 236, 0.6);
      }

      .shadow-med {
        box-shadow: 0 20px 60px rgba(36, 130, 86, 0.25);
      }

      .gradient1 {
        background-image: linear-gradient(266deg, #0cc16b, #96eb8e);
      }
    }
  }
}
