@import 'colors';
@import 'vars';

html#ov body {
  // override bootstrap styles

  .person {
    display: flex;
    background-color: $col-light;
    border-radius: $pad4;
    overflow: hidden;
    margin-bottom: $pad2;

    .thumb {
      width: $pad6;
      flex-shrink: 0;
      padding: 0;
      border: 0;
      border-right: 1px solid $col-primary-light4;

      @media (min-width: $mediaXs) {
        width: $pad6;
      }

      @media (min-width: $mediaLg) {
        width: $pad7;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: $pad2;

      h1 {
        font-size: $tx;

        button {
          color: inherit;
          width: 100%;
          text-align: left;
          font-weight: 700;
          border: none;
          padding: 0;
          background: none;

          &:active {
            color: inherit;
          }
        }
      }

      .details {
        margin-top: auto;

        .orgLogoWrapper {
          width: 28px;
          height: 28px;
          flex-shrink: 0;
          margin-right: $pad1;
          border-radius: $pad1;
          border: 1px solid $col-primary-light7;
          overflow: hidden;
          display: none;
        }

        .orgText {
          font-size: $txSm;
        }
      }

      @media (min-width: $mediaXs) {
        .details {
          .orgLogoWrapper {
            display: block;
          }
        }
      }

      @media (min-width: $mediaLg) {

        h1 {
          font-size: $h3;
        }

        .details {
          .orgLogoWrapper {
            margin-right: $pad2;
            width: 38px;
            height: 38px;
          }

          .orgText {
            font-size: $h5;
          }
        }
      }
    }

    .controls {
      flex-basis: 15%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      padding: $pad2;

      .addBtn {
        font-size: $pad4;
      }

      .percentageMatch {
        margin-top: auto;
        font-size: $txMd;
        color: $col-primary;
        text-align: center;
      }

      @media (min-width: $mediaXs) {
        .percentageMatch {
          font-size: $tx;
        }
      }

      @media (min-width: $mediaLg) {
        .addBtn {
          font-size: $pad5;
        }

        .percentageMatch {
          font-size: $h4;
        }
      }
    }
  }

  // Modal is a peer to #Root
  .modal {
    .modal-dialog {

      .modal-content {
        border-radius: $pad3;
        border: none;

        .modal-header {
          border-bottom: none;

          .close {
            opacity: 0.75;

            span {
              color: $col-primary;
              font-size: 40px;
              line-height: 0.6;

              @media (min-width: $mediaXs) {
                font-size: 50px;
              }

              @media (min-width: $mediaLg) {
                font-size: 70px;
              }
            }
          }

          .close:not(:disabled):not(.disabled):focus,
          .close:not(:disabled):not(.disabled):hover {
            opacity: 1;
          }
        }

        .modal-footer {
          border-top: none;
        }

        .footerBtnWrapper {
          // note: this might not be in the footer if it needs to be inside a form in the body.
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
          align-items: center;
        }

        .footerBtnWrapper > .btn {
          flex-grow: 1;
        }

        @media (min-width: $mediaMd) {
          .footerBtnWrapper > .btn {
            flex-basis: 50%;
          }
        }
      }
    }

    &.modal-sidebar-left {
      .modal-dialog {
        position: absolute;
        top: 0;
        left: -20px;
        bottom: 0;
        margin: 0;
        max-height: none;
        min-width: 100vw;
        align-items: flex-start;

        .modal-content {
          min-height: calc(var(--app-height) - 20px);
          min-width: calc(95vw + 20px);
          max-width: calc(100vw - 20px);
          padding-left: 15px; // match column padding
          border-radius: $pad2;
          margin-top: $pad2;
          margin-bottom: $pad2;
        }
      }

      &.fade {
        .modal-dialog {
          left: calc(-95vw - 20px);
          transition: opacity 0.3s linear, left 0.3s ease-out;
        }

        &.show .modal-dialog {
          left: -20px;
        }
      }

      @media (min-width: $mediaMd) {
        .modal-dialog {
          min-width: 0;
          max-width: calc(45vw + 20px);

          .modal-content {
            min-width: 0;
            max-width: calc(45vw + 20px);
          }
        }
      }

      @media (min-width: $mediaLg) {
        .modal-dialog {
          min-width: 0;
          max-width: calc(35vw + 20px);

          .modal-content {
            min-width: 0;
            max-width: calc(35vw + 20px);
          }
        }
      }
    }

    &.modal-investor {
      .modal-dialog {
        .modal-content {
          .modal-header {
            position: absolute;
            right: 0;
            z-index: 10;
          }

          .modal-body {

            .investorHeader {
              display: flex;

              .thumbCol {
                flex-grow: 0;
                flex-shrink: 0;
                min-width: auto;
                margin-right: $pad2;

                .thumb {
                  width: $pad5;
                  height: $pad5;
                  overflow: hidden;
                  border-radius: $pad2;
                  border: 1px solid $col-primary-light4;

                  img {
                    width: 100%;
                    height: auto;
                  }
                }

                @media (min-width: $mediaXs) {
                  .thumb {
                    width: $pad6;
                    height: $pad6;
                  }
                }

                @media (min-width: $mediaLg) {
                  margin-right: $pad3;
                  .thumb {
                    width: $pad7;
                    height: $pad7;
                  }
                }
              }

              h1 {
                font-size: $h5;

                @media (min-width: $mediaXs) {
                  font-size: $h4;
                }

                @media (min-width: $mediaMd) {
                  font-size: $h3;
                }

                @media (min-width: $mediaLg) {
                  font-size: $h2;
                }
              }

              .orgDetails {
                display: flex;
                margin-top: auto;
                font-size: $txSm;

                .orgLogoWrapper {
                  width: $pad4;
                  flex-shrink: 0;
                  padding-right: $pad1;

                  img {
                    width: 100%;
                    height: auto;
                  }
                }

                @media (min-width: $mediaXs) {
                  font-size: $txMd;
                }

                @media (min-width: $mediaMd) {
                  font-size: $tx;
                }

                @media (min-width: $mediaLg) {
                  font-size: $tx;

                  .orgLogoWrapper {
                    width: $pad5;
                  }
                }
              }
            }

            .crunchBaseAttribution {
              color: $col-primary;
              font-style: italic;
            }

            .description {
              max-height: 4.5em;
              overflow-y: scroll;
            }

            .matches {
              margin-bottom: $pad4;

              h2 {
                font-size: $h3;
                color: $col-primary;
              }

              ul {
                padding: 0;
                list-style-type: none;

                li {
                  display: flex;
                  margin-bottom: $pad2;

                  .iconDisc {
                    margin-right: $pad2;
                  }
                }
              }
            }

            .funded {
              margin-bottom: $pad4;

              h2 {
                font-size: $h3;
              }

              .founders {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                padding: $pad2 0;
              }
            }

            .twitterFeed {
              margin-bottom: $pad4;
            }

            .invalidWrapper {
              padding: $pad2;
              margin: -$pad2;

              &.open {
                border: 1px solid $col-danger-light2;
                border-radius: $pad2;
              }

              .openLinkWrapper {
                margin-bottom: $pad4;
                color: $col-danger;
                font-size: $h3;
                display: flex;
                align-items: flex-start;

                .btn.btn-link {
                  font-weight: 700;
                }
              }

              .invalidBtns {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: $col-danger;
                padding: 0 $pad2 $pad2 $pad2;

                .btn {
                  flex-grow: 1;
                  font-size: $h5;
                  width: 100%;
                  max-width: none;
                  margin-bottom: $pad2;
                }
              }

              .invalidError {
                padding: $pad3;
                text-align: center;
                width: 100%;
                overflow-wrap: break-word;
              }

              @media (min-width: $mediaLg) {

                .openLinkWrapper {
                  align-items: center;
                }

                .invalidBtns {
                  padding: 0 $pad4 $pad4 $pad4;
                }
              }
            }
          }

          .modal-footer {
            padding: 0;

            .addBtn {
              width: 100%;
              height: 100%;
              color: $col-text-light;
              border: none;
              font-size: $h4;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;
              padding: $pad3;
            }
          }
        }
      }
    }

    &.modal-searchMenu {
      .modal-dialog {
        .modal-content {
          .modal-body {
            position: relative;
            top: -20px;
            margin-bottom: -20px;

            .sectionTitle {
              margin-bottom: $pad2;

              .title {
                display: flex;
                align-items: center;
                font-size: $h5;
                margin-bottom: $pad1;

                h2 {
                  font-size: $h4;
                  margin: 0;
                }

                .iconDisc {
                  margin-right: 0.5em;
                  position: relative;
                  top: -0.125em; // compensate for descenders throwing off visual center
                }

                .detail {
                  margin-left: auto;
                  color: $col-primary;
                }
              }

              p {
                font-size: $txMd;
                font-style: italic;
              }
            }

            .tilesWrapper {
              border: 1px solid $col-primary;
              padding: $pad2;
              border-radius: $pad3;
              overflow: hidden;
              background-color: $col-primary-light7;
              position: relative;

              .tiles {
                height: 12em;
                width: 100%;
                padding-right: $pad2;
                overflow-y: auto;
                display: flex;
                flex-direction: column;

                .tile {
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  background-color: $col-light;
                  border: 1px solid $col-primary-light3;
                  color: $col-primary-dark;
                  font-size: 1em;
                  padding: 0.5em;
                  border-radius: $pad2;
                  margin: $pad1;
                  cursor: pointer;

                  &.active {
                    background-color: $col-info;
                    border-color: $col-info-dark;
                    color: $col-info-light5;
                  }
                }
              }

              #TileWarning {
                position: absolute;
                top: -5px;
                bottom: -5px;
                left: -5px;
                right: -5px;
                background: $col-warning-op1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $h4;
                color: $col-text-light;
                padding: $pad3;
              }
            }

            .sliderWrapper {
              padding-right: 40px;
              padding-left: 30px;
              margin-bottom: $pad6;

              .range-slider__wrap {

                .range-slider__tooltip {

                  .range-slider__tooltip__label {
                    padding: $pad3;
                    font-size: $tx;
                  }
                }
              }
            }
          }

          .modal-footer {
            padding: 0;

            .searchBtn {
              width: 100%;
              height: 100%;
              color: $col-text-light;
              background-color: $col-secondary;
              border: none;
              font-size: $h4;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;
              padding: $pad3;
            }
          }
        }
      }
    }
  }

  .personStamp {

    a {
      display: flex;
      flex-direction: column;
      width: $pad6;
      text-decoration: none;
      color: $col-text;

      .imageWrapper {
        width: $pad5;
        height: $pad5;
        border-radius: $pad2;
        border: 1px solid $col-primary-light4;
        overflow: hidden;
        position: relative;
        margin-bottom: $pad1;

        img {
          width: 100%;
          height: auto;
        }

        .orgLogoWrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          width: $pad3;
          height: $pad3;

          img {
            position: absolute;
          }
        }
      }

      .content {
        text-align: center;
        line-height: 1;

        h1 {
          font-size: $txMd;
          margin-bottom: 0.25em;
        }

        span {
          font-size: $txSm;
          text-align: center;
        }
      }
    }
  }

  .sliderWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 1em; // make room for min and max

    .sliderMin {
      position: absolute;
      top: 0;
      left: 0;
    }

    .sliderMax {
      position: absolute;
      top: 0;
      right: 0;
    }

    .range-slider__wrap {
      flex-grow: 1;

      input[type=range].range-slider.range-slider--primary::-webkit-slider-thumb {
        background: $col-light;
        border: 2px solid $col-primary;
      }

      input[type=range].range-slider.range-slider--primary::-moz-range-thumb {
        background: $col-light;
        border: 2px solid $col-primary;
      }

      input[type=range].range-slider.range-slider--primary::-ms-thumb {
        background: $col-light;
        border: 2px solid $col-primary;
      }

      input[type=range].range-slider:not(.disabled):focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.1rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):focus::-moz-range-thumb {
        box-shadow: 0 0 0 0.1rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):focus::-ms-thumb {
        box-shadow: 0 0 0 0.1rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):active::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.2rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):active::-moz-range-thumb {
        box-shadow: 0 0 0 0.2rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):active::-ms-thumb {
        box-shadow: 0 0 0 0.2rem $col-primary;
      }

      input[type=range].range-slider::-webkit-slider-runnable-track {
        background-color: $col-info;
      }

      input[type=range]::-moz-range-track {
        background-color: $col-info;
      }

      input[type=range]::-ms-track {
        background-color: $col-info;
      }

      .range-slider__tooltip {
        opacity: 1;

        .range-slider__tooltip__label {
          display: flex;
          align-items: center;
          padding: $pad4;
          background-color: $col-emp-light8;
          border: 2px solid $col-primary;
          opacity: 1;
          font-size: $h4;
          color: $col-text;
          font-weight: 700;
          max-width: none;
        }

        .range-slider__tooltip__arrow {
          &:before {
            border-top-color: $col-primary;
            border-bottom-color: $col-primary;
          }
        }
      }
    }
  }

  .infoTip {
    margin-left: 0.25em;
    color: $col-primary-light6;
    background: none;
    border: 0 none;

    &.open {
      color: $col-secondary;
    }
  }

  .infoTipBody {
    background-color: $col-light;
    border: 1px solid $col-secondary;

    .arrow {
      &:before,
      &:after {
      }

      &:before {
        border-bottom-color: $col-secondary;
      }

      &:after {

      }
    }
  }
}
