@import 'colors';
@import 'vars';

html#ov {
  // override bootstrap styles

  body {

    #root {
      .person {
        display: flex;
        background-color: $col-light;
        border-radius: $pad4;
        overflow: hidden;
        margin-bottom: $pad2;

        .thumb {
          width:$pad6;
          flex-shrink: 0;
          border-right: 1px solid $col-primary-light4;

          @media (min-width: $mediaXs) {
            width: $pad6;
          }

          @media (min-width: $mediaLg) {
            width: $pad7;
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          padding: $pad2;

          h1 {
            font-size: $tx;
            font-weight: 700;
          }

          .details {
            margin-top: auto;

            .orgLogoWrapper {
              width: 28px;
              height: 28px;
              flex-shrink: 0;
              padding-right: $pad1;
              display: none;
            }

            .orgText {
              font-size: $txSm;
            }
          }

          @media (min-width: $mediaXs) {
            .details {
              .orgLogoWrapper {
                display: block;
              }
            }
          }

          @media (min-width: $mediaLg) {

            h1 {
              font-size: $h3;
            }

            .details {
              .orgLogoWrapper {
                padding-right: $pad2;
                width: 38px;
                height: 38px;
              }

              .orgText {
                font-size: $h5;
              }
            }
          }
        }

        .controls {
          flex-basis: 15%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
          padding: $pad2;

          .addBtn {
            font-size: $pad4;
          }

          .percentageMatch {
            margin-top: auto;
            font-size: $txMd;
            color: $col-primary;
            text-align: center;
          }

          @media (min-width: $mediaXs) {
            .percentageMatch {
              font-size: $tx;
            }
          }

          @media (min-width: $mediaLg) {
            .addBtn {
              font-size: $pad5;
            }

            .percentageMatch {
              font-size: $h4;
            }
          }
        }
      }
    }
  }
}
