@import 'colors';
@import 'vars';

html#ov body {
  // override bootstrap styles

  .personWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $pad2;
    margin-right: -15px;
    margin-left: -15px;

    .person {
      display: flex;
      flex-basis: 33%;
      align-items: stretch;
      overflow: hidden;
      padding: 10px;
      width: 100%;
      outline: 0;
      box-sizing: border-box;
      text-align: left;
      background-color: $col-bright;
      border: 1px solid transparent;
      border-top-color: $col-structure-light7;
      border-bottom-color: $col-structure-light7;

      &:hover,
      &.active {
        color: inherit;
        border: 1px solid $col-secondary;
      }

      .thumb {
        width: $pad6;
        height: $pad6;
        flex-shrink: 0;
        padding: 0;
        border-width: 1px;
        border-style: solid;
        border-color: $col-primary-light4;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: $col-primary-light9;

        @media (min-width: $mediaLg) {
          width: $pad7;
          height: $pad7;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        padding: $pad2;

        h1 {
          font-size: $tx;
          margin-bottom: 0;
        }

        .verifiedBadge {
          font-size: 0.7rem;
          color: $col-bright;
          background-color: $col-secondary;
          border-radius: $pad2;
          padding: 0 $pad2;
          vertical-align: middle;
        }

        .details {
          margin-top: auto;

          .orgLogoWrapper {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-right: $pad1;
            border-radius: $pad1;
            border: 1px solid $col-primary-light7;
            overflow: hidden;
            background-size: contain;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
          }

          .orgText {
            display: flex;
            align-items: center;
            font-size: $txSm;
          }
        }

        @media (min-width: $mediaXs) {          
          h1 {
            margin-bottom: $pad1;
          }
          
          .details {
            .orgText {
              font-size: 0.7rem;
            }
          }
        }

        @media (min-width: $mediaSm) {
          .details {
            .orgLogoWrapper {
              width: 28px;
              height: 28px;
            }

            .orgText {
              font-size: $txMd;
            }
          }
        }

        @media (min-width: $mediaMd) {
          .verifiedBadge {
            margin-left: $pad1;
            font-size: $txMd;
          }
        }

        @media (min-width: $mediaLg) {

          h1 {
            font-size: $h3;
          }

          .details {
            .orgLogoWrapper {
              margin-right: $pad2;
              width: 38px;
              height: 38px;
            }

            .orgText {
              font-size: $h5;
            }
          }
        }
      }

      .introText {
        font-size: $txSm;
        flex-basis: 33%;
        display: flex;
        justify-content: flex-end;
        text-align: right;

        .btn-link {
          align-items: flex-start;
          justify-content: flex-end;
        }

        @media (min-width: $mediaMd) {
          font-size: $txMd;
        }
      }

      .controls {
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        padding: $pad2;

        .iconDisc {
          font-size: 0.8rem;
        }

        .matches {
          padding: 0;
          margin: 0;
          list-style-type: none;
          display: flex;

          li {
            display: flex;
            align-items: center;

            .iconDisc {
              font-size: 0.5rem;
              margin-right: 0.25rem;
            }
          }
        }

        .percentageMatch {
          margin-top: auto;
          font-size: $txMd;
          color: $col-primary;
          text-align: center;
        }

        @media (min-width: $mediaXs) {
          .percentageMatch {
            font-size: $tx;
          }
        }

        @media (min-width: $mediaLg) {
          .iconDisc {
            font-size: $pad4;
          }

          .percentageMatch {
            font-size: $h4;
          }

          .matches li .iconDisc {
            font-size: 0.75rem;
            margin-right: 0.5rem;
          }
        }
      }
    }

    @media (min-width: $mediaMd) {
      margin-right: 0;
      margin-left: 0;

      .person {
        border-color: $col-structure-light7;
      }
    }

    &.Board {

      .person {

        .thumb {
          width: $pad5;
          height: $pad5;
        }

        .content {
          padding: 0 0 0 $pad2;
          justify-content: flex-start;

          h1 {
            font-size: $tx;
            margin-bottom: 0;
          }

          .details {
            margin-top: 0;

            .orgLogoWrapper {
              width: 28px;
              height: 28px;
            }

            .orgText {
              font-size: $txMd;
            }
          }

          @media (min-width: $mediaXs) {
            h1 {
              margin-bottom: $pad1;
            }
          }

          @media (min-width: $mediaLg) {
            h1 {
              font-size: $h5;
            }

            .details {
              .orgText {
                font-size: $tx;
              }
            }
          }
        }

        .controls {
          padding-top: 0;
          padding-right: 0;
        }
      }

      .notesWrapper {
        display: flex;
        font-size: $txMd;
        padding: $pad1;
        background-color: $col-bright;
        border-bottom: 1px solid $col-structure-light7;
        margin-bottom: $pad2;

        .notes {
          margin-top: $pad1;
          font-size: $txSm;
        }

        .published {
          margin-left: auto;
          margin-top: $pad1;
          padding-left: $pad2;
          font-size: $txSm;
          color: $col-primary-light;
          flex-shrink: 0;
        }

        .next {
          display: flex;

          .text {
            margin-right: $pad1;
          }

          .date {
            margin-left: auto;
          }

          &.sortedByNext .date {
            flex-basis: 35%;
          }
        }
      }

      @media (min-width: $mediaMd) {
        margin-right: 0;
        margin-left: 0;

        .notesWrapper {
          border-right: 1px solid $col-structure-light7;
          border-left: 1px solid $col-structure-light7;

          .next {

            .date {
              margin-left: auto;
            }
          }
        }
      }
    }
  }

  // Modal is a peer to #Root
  .modal {
    .modal-dialog {

      .modal-content {
        border-radius: $pad3;
        border: none;

        .modal-header {
          border-bottom: none;

          .close {
            opacity: 0.75;

            span {
              color: $col-primary;
              font-size: 40px;
              line-height: 0.6;

              @media (min-width: $mediaXs) {
                font-size: 50px;
              }

              @media (min-width: $mediaLg) {
                font-size: 70px;
              }
            }
          }

          .close:not(:disabled):not(.disabled):focus,
          .close:not(:disabled):not(.disabled):hover {
            opacity: 1;
          }
        }

        .modal-footer {
          border-top: none;
        }

        .footerBtnWrapper {
          // note: this might not be in the footer if it needs to be inside a form in the body.
          display: flex;
          flex-grow: 1;
          justify-content: space-between;
          align-items: center;
        }

        .footerBtnWrapper > .btn {
          flex-grow: 1;
        }

        @media (min-width: $mediaMd) {
          .footerBtnWrapper > .btn {
            flex-basis: 50%;
          }
        }
      }
    }

    &.modal-sidebar-left {
      .modal-dialog {
        position: absolute;
        top: 0;
        left: -20px;
        bottom: 0;
        margin: 0;
        max-height: none;
        min-width: 100vw;
        align-items: flex-start;

        .modal-content {
          min-height: calc(var(--app-height) - 20px);
          padding-left: 15px; // match column padding
          border-radius: $pad2;
          margin-top: $pad2;
          margin-bottom: $pad2;
        }
      }

      &.fade {
        .modal-dialog {
          left: calc(-95vw - 20px);
          transition: opacity 0.3s linear, left 0.3s ease-out;
        }

        &.show .modal-dialog {
          left: -20px;
        }
      }
    }

    &.modal-profile {
      .modal-dialog {
        .modal-content {
          height:100%;

          .modal-header {
            height: 1rem;
            z-index: 10;
          }

          .modal-body {

            .personNameTag {
              .profileHeader {
                display: flex;

                .thumbCol {
                  flex-grow: 0;
                  flex-shrink: 0;
                  min-width: auto;
                  margin-right: $pad2;

                  .thumb {
                    width: $pad5;
                    height: $pad5;
                    overflow: hidden;
                    border-radius: $pad2;
                    border: 1px solid $col-primary-light4;
                    background-color: $col-primary-light9;
                    background-size: cover;
                    background-repeat: no-repeat;
                  }

                  @media (min-width: $mediaXs) {
                    .thumb {
                      width: $pad6;
                      height: $pad6;
                    }
                  }

                  @media (min-width: $mediaLg) {
                    margin-right: $pad3;
                    .thumb {
                      width: $pad7;
                      height: $pad7;
                    }
                  }
                }

                h1 {
                  font-size: $h5;
                  margin-bottom: 0;

                  @media (min-width: $mediaXs) {
                    font-size: $h4;
                  }

                  @media (min-width: $mediaMd) {
                    font-size: $h3;
                  }

                  @media (min-width: $mediaLg) {
                    font-size: $h2;
                  }
                }

                .orgDetails {
                  display: flex;
                  margin-top: auto;
                  font-size: $txSm;

                  .orgLogoWrapper {
                    width: $pad3;
                    height: $pad3;
                    flex-shrink: 0;
                    padding-right: $pad1;
                    border: 1px solid $col-primary-light7;
                    box-sizing: border-box;
                    border-radius: $pad1;
                    overflow: hidden;
                    margin-right: $pad1;
                    background-size: contain;
                    background-color: #fff;
                    background-repeat: no-repeat;
                    background-position: center center;
                  }

                  .jobTitle {
                    display: flex;
                    align-items: center;
                  }

                  @media (min-width: $mediaXs) {
                    font-size: $txMd;

                    .orgLogoWrapper {
                      width: 40px;
                      height: 40px;
                    }

                    .jobTitle {
                      flex-direction: column;
                      align-items: start;
                    }
                  }

                  @media (min-width: $mediaMd) {
                    font-size: $tx;
                  }

                  @media (min-width: $mediaLg) {
                    font-size: $tx;

                    .orgLogoWrapper {
                      width: $pad5;
                      height: $pad5;
                      border-radius: $pad2;
                      margin-right: $pad2;
                    }
                  }
                }
              }
            }

            .crunchBaseAttribution {
              color: $col-primary;
              font-style: italic;
            }

            .description {
              max-height: 9em;
              overflow-y: scroll;

              i {
                color: $col-secondary;
                font-weight: 700;
              }
            }

            .matches {
              margin-bottom: $pad4;

              ul {
                padding: 0;
                list-style-type: none;

                li {
                  display: flex;
                  margin-bottom: $pad2;

                  .iconDisc {
                    margin-right: $pad2;
                  }
                }
              }
            }
          }
        }
      }

      &.investor {
        .modal-dialog {
          .modal-content {
            .modal-body {
              .funded {
                margin-bottom: $pad4;

                h3 {
                  font-size: 1.4rem;
                }

                .founders {
                  display: flex;
                  flex-wrap: nowrap;
                  overflow-x: auto;
                  padding: $pad2 0;
                }

                @media (min-width: $mediaXs) {
                  h3 {
                    font-size: 1.7rem;
                  }
                }

                @media (min-width: $mediaLg) {
                  h3 {
                    font-size: $h2;
                  }
                }
              }

              .twitterFeed {
                margin-bottom: $pad4;
              }

              .invalidWrapper {
                padding: $pad2;
                margin: -$pad2;

                .openLinkWrapper {
                  margin-bottom: $pad4;
                  color: $col-secondary-dark;
                  font-size: $h5;
                  display: flex;
                  align-items: flex-start;

                  .btn.btn-link {
                    font-weight: 700;
                    color: inherit;
                  }
                }

                .invalidBtns {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  padding-bottom: $pad2;

                  .btn {
                    color: $col-secondary;
                    margin-bottom: $pad2;
                  }
                }

                .invalidError {
                  padding: $pad3;
                  text-align: center;
                  width: 100%;
                  overflow-wrap: break-word;
                }

                @media (min-width: $mediaLg) {

                  .invalidBtns {
                    padding-bottom: $pad4;
                  }
                }
              }

              .editWrapper {
                margin-bottom: $pad3;
              }

              .notesWrapper,
              .nextWrapper {
                margin-bottom: $pad3;

                .note {
                  display: flex;
                  margin-bottom: $pad1;

                  .body {
                    display: flex;
                    flex-grow: 1;
                    background: none;
                    border: none;
                    text-align: left;
                    color: $col-primary;
                    font-size: $txMd;

                    &:hover {
                      text-decoration: underline;
                    }

                    .content {
                      flex-grow: 1;
                      display: flex;
                      flex-direction: column;

                      .date {
                      }

                      .text {
                      }
                    }
                  }
                }
              }

              .nextWrapper {
                .note {
                  .content {
                    .date {
                      font-weight: 700;
                      color: $col-danger;

                      &.waiting {
                        color: $col-primary;
                      }
                    }
                  }
                }
              }
            }

            .modal-footer {
              padding: 0;

              .addBtn {
                width: 100%;
                height: 100%;
                color: $col-text-light;
                border: none;
                font-size: $tx;
                font-weight: 700;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: $pad3;

                @media (min-width: $mediaXs) {
                  font-size: $h5;
                }

                @media (min-width: $mediaLg) {
                  font-size: $h4;
                }
              }
            }
          }
        }
      }
    }

    &.modal-searchMenu {
      .modal-dialog {

        @media (min-width: $mediaMd) {
          width: calc(45vw + 20px);
          min-width: 490px;
        }

        @media (min-width: $mediaLg) {
          width: calc(35vw + 20px);
        }

        .modal-content {
          .modal-body {
            position: relative;
            top: -20px;
            margin-bottom: -20px;

            .sectionTitle {
              margin-bottom: $pad2;

              .title {
                display: flex;
                align-items: center;
                font-size: $h5;
                margin-bottom: $pad1;

                h2 {
                  font-size: $h5;
                  margin: 0;
                }

                .iconDisc {
                  margin-right: 0.5em;
                  position: relative;
                  top: -0.125em; // compensate for descenders throwing off visual center
                }

                .detail {
                  font-size: 0.8em;
                  margin-left: auto;
                  color: $col-primary;
                }
              }

              p {
                font-size: $txMd;
                font-style: italic;
              }

              @media (min-width: $mediaXs) {
                .title {
                  h2 {
                    font-size: $h4;
                  }

                  .detail {
                    font-size: 1em;
                  }
                }
              }
            }

            .tilesWrapper {
              border: 1px solid $col-primary;
              border-radius: $pad1;
              padding: $pad1;
              overflow: hidden;
              position: relative;

              .tiles {
                height: 12em;
                width: 100%;
                padding-right: $pad2;
                overflow-y: auto;
                display: flex;
                flex-direction: column;

                .tile {
                  flex-shrink: 0;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 100%;
                  max-height: 2.3em;
                  background-color: $col-text-light;
                  border: 1px solid $col-primary-light3;
                  color: $col-primary-dark;
                  font-size: 1em;
                  padding: 0.5em;
                  border-radius: $pad2;
                  margin: $pad1;
                  cursor: pointer;

                  &.active {
                    background-color: $col-info;
                    border-color: $col-info-dark;
                    color: $col-text-light;
                  }
                }
              }

              #TileWarning {
                position: absolute;
                top: -5px;
                bottom: -5px;
                left: -5px;
                right: -5px;
                background: $col-info-op1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $h4;
                color: $col-text-light;
                padding: $pad3;
              }
            }

            .sliderWrapper {
              padding-right: 40px;
              padding-left: 30px;
              margin-bottom: $pad6;

              .range-slider__wrap {

                .range-slider__tooltip {

                  .range-slider__tooltip__label {
                    padding: $pad3;
                    font-size: $tx;
                  }
                }
              }
            }
          }

          .modal-footer {
            padding: 0;

            .searchBtn {
              width: 100%;
              height: 100%;
              color: $col-text-light;
              background-color: $col-secondary;
              border: none;
              font-size: $h4;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0;
              padding: $pad3;
            }
          }
        }
      }
    }
    &.modal-welcome {
      h1 {
        margin-bottom: 0;
      }

      .modal-body {
        padding-top: 0;
      }

      .welcomeList {
        display: flex;
        flex-flow: row wrap;

        dt {
          position: relative;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: $col-text-light;
          font-size: 1rem;
          font-weight: 700;
          width: 2rem;
          height: 2rem;
          flex-basis: 2rem;
          background-color: $col-primary;
          border-radius: 50%;
          margin:0 0.5rem 1rem 0;
        }

        dd {
          margin: 0 0 1rem 0;
          display: block;
          flex-basis: calc(100% - 2.5rem);
        }

        @media (min-width: $mediaMd) {
          dt {
            font-size: 2rem;
            font-weight: 700;
            width: 3rem;
            height: 3rem;
            flex-basis: 3rem;
            margin:0 1rem 2rem 0;
          }

          dd {
            font-size: 1.2rem;
            margin: 0 0 2rem 0;
            flex-basis: calc(100% - 4rem);
          }
        }
      }
    }
  }

  // modal-backdrop is a peer to root
  .modal-backdrop {
    &.show {
      opacity: 0.8;
    }
  }

  .personStamp {

    a {
      display: flex;
      flex-direction: column;
      margin-right: $pad2;
      text-decoration: none;
      color: $col-text;
      width: $pad5;

      .imageWrapper {
        width: $pad5;
        height: $pad5;
        border-radius: $pad2;
        border: 1px solid $col-primary-light6;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        margin-bottom: $pad1;
        background-size: cover;
        background-repeat: no-repeat;

        .orgLogoWrapper {
          position: absolute;
          left: 0;
          bottom: 0;
          width: $pad3;
          height: $pad3;
          border: 1px solid $col-primary-light7;
          border-radius: $pad1;
          border-bottom-left-radius: $pad2;
          box-sizing: border-box;
          background-size: contain;
          background-color: #fff;
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      .content {
        text-align: center;
        line-height: 1;

        h1 {
          font-size: $txMd;
          margin-bottom: 0.25em;
        }

        span {
          font-size: $txSm;
          text-align: center;
        }
      }

      @media (min-width: $mediaMd) {
        width: $pad6;
        margin-right: $pad3;

        .imageWrapper {
          width: $pad6;
          height: $pad6;

          .orgLogoWrapper {
            width: $pad4;
            height: $pad4;
          }
        }
      }
    }
  }

  .sliderWrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 1em; // make room for min and max

    .sliderMin {
      position: absolute;
      top: 0;
      left: 0;
    }

    .sliderMax {
      position: absolute;
      top: 0;
      right: 0;
    }

    .range-slider__wrap {
      flex-grow: 1;

      input[type=range].range-slider.range-slider--primary::-webkit-slider-thumb {
        background: $col-light;
        border: 2px solid $col-primary;
      }

      input[type=range].range-slider.range-slider--primary::-moz-range-thumb {
        background: $col-light;
        border: 2px solid $col-primary;
      }

      input[type=range].range-slider.range-slider--primary::-ms-thumb {
        background: $col-light;
        border: 2px solid $col-primary;
      }

      input[type=range].range-slider:not(.disabled):focus::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.1rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):focus::-moz-range-thumb {
        box-shadow: 0 0 0 0.1rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):focus::-ms-thumb {
        box-shadow: 0 0 0 0.1rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):active::-webkit-slider-thumb {
        box-shadow: 0 0 0 0.2rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):active::-moz-range-thumb {
        box-shadow: 0 0 0 0.2rem $col-primary;
      }

      input[type=range].range-slider:not(.disabled):active::-ms-thumb {
        box-shadow: 0 0 0 0.2rem $col-primary;
      }

      input[type=range].range-slider::-webkit-slider-runnable-track {
        background-color: $col-info;
      }

      input[type=range]::-moz-range-track {
        background-color: $col-info;
      }

      input[type=range]::-ms-track {
        background-color: $col-info;
      }

      .range-slider__tooltip {
        opacity: 1;

        .range-slider__tooltip__label {
          display: flex;
          align-items: center;
          padding: $pad4;
          background-color: $col-emp-light8;
          border: 2px solid $col-primary;
          opacity: 1;
          font-size: $h4;
          color: $col-text;
          font-weight: 700;
          max-width: none;
        }

        .range-slider__tooltip__arrow {
          &:before {
            border-top-color: $col-primary;
            border-bottom-color: $col-primary;
          }
        }
      }
    }
  }

  .infoTip {
    margin-left: 0.25em;
    color: $col-primary-light6;
    background: none;
    border: 0 none;

    &.open {
      color: $col-secondary;
    }
  }

  .infoTipBody {
    background-color: $col-light;
    border: 1px solid $col-secondary;

    .arrow {
      &:before,
      &:after {
      }

      &:before {
        border-bottom-color: $col-secondary;
      }

      &:after {

      }
    }
  }

  .selectInvestorStage {
    display: flex;
    flex-direction: column;
    border: 1px solid $col-primary-light4;
    border-radius: $pad2;
    padding: $pad3;
    margin-bottom: $pad2;

    .stage {
      display: flex;
      align-items: center;
      background: none;
      border: none;
      font-size: $h4;
      color: $col-text;
      padding: 0;
      margin-bottom: $pad4;

      &:last-child,
      &.firstClosed {
        margin-bottom: 0;
      }

      .stageIcon {
        margin-right: 0.5em;
      }

      .stageText {
        font-weight: 700;
        text-align: left;
      }

      .caret {
        margin-left: auto;
      }

      &:hover {
        color: $col-secondary;

        .stageIcon {
          background-color: $col-secondary!important;
        }
      }

      &:active {
        color: $col-text;
      }

      &.beforeCurrent {
        opacity: 0.4;
      }
    }

    @media (min-width: $mediaMd) {

      .stage {
        font-size: $h3;
      }
    }
  }

  .datePickerWrapper {
    flex-grow: 1;
    z-index: 10;

    .react-datepicker-wrapper {
      width: 100%;

      .react-datepicker__input-container {

        input {
          display: block;
          width: 100%;
          border-color: $col-primary;
          border-width: 1px;
          border-style: solid;
          border-radius: $pad1;
          height: calc(1.5rem + .75rem + 2px);
          padding: .375rem + .75rem;
          font-size: 1rem;
          line-height: 1.5;
          color: $col-text;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        button.react-datepicker__close-icon:after {
          background-color: $col-primary;
        }
      }
    }

    .react-datepicker {
      border-color: $col-primary;

      .react-datepicker__month-container {

        .react-datepicker__header {
          border-bottom-color: $col-primary;
          background-color: $col-primary-light6;
        }

        .react-datepicker__day--selected,
        .react-datepicker__day--in-selecting-range,
        .react-datepicker__day--in-range,
        .react-datepicker__month-text--selected,
        .react-datepicker__month-text--in-selecting-range,
        .react-datepicker__month-text--in-range,
        .react-datepicker__quarter-text--selected,
        .react-datepicker__quarter-text--in-selecting-range,
        .react-datepicker__quarter-text--in-range,
        .react-datepicker__year-text--selected,
        .react-datepicker__year-text--in-selecting-range,
        .react-datepicker__year-text--in-range {
          background-color: $col-primary;
          &:hover {
            background-color: $col-secondary;
          }
        }
      }

      .react-datepicker__time-container {
        border-left-color: $col-primary;

        .react-datepicker__header {
          border-bottom-color: $col-primary;
          background-color: $col-primary-light6;
        }

        .react-datepicker__time {
          .react-datepicker__time-box {
            ul.react-datepicker__time-list {
              li.react-datepicker__time-list-item {
              }
              li.react-datepicker__time-list-item--selected {
                  background-color: $col-secondary;
              }
            }
          }
        }
      }
    }

    .react-datepicker-popper[data-placement^="bottom"] {
      .react-datepicker__triangle {
        border-bottom-color: $col-primary-light6;

        &:before {
          border-bottom-color: $col-primary;
        }
      }
    }

    .react-datepicker-popper[data-placement^="top"] {
      .react-datepicker__triangle {

        &:before {
          border-bottom-color: $col-primary;
        }
      }
    }
  }
}
