@import 'utils';
@import 'colors.scss';
@import 'vars.scss';

@mixin colPadding {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

html#ov {
  // override bootstrap styles
  height: 100%;

  @media (min-width: $mediaLg) and (min-height: $mediaLg) {
    font-size: 20px; //increase all fonts on large screens
  }

  body {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $col-structure;

    #root {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;

      .nav {
        display: flex;
        align-items: center;
        min-height: $navSz1;
        padding: 0 $pad3;
        order: 2; // nav on the bottom for mobile
        background-color: $col-structure;
        color: $col-structure-light7;

        .navbar-nav {
          flex-grow: 1;
          font-size: 20px;
          display: flex;
          justify-content: space-around;

          a.nav-link {
            color: inherit;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;

            span {
              display: none;
              line-height: 1;
              margin-left: 0.5em;
            }

            &:disabled,
            &.disabled,
            &[aria-disabled="true"] {
              opacity: 0.2;
            }

            &.login {
              span {
                display: inline-block;
              }
            }
          }
        }

        .navBrand {
          display: flex;
          align-items: center;
          text-decoration: none;
        }

        @media (max-width: $mediaMaxMd) {
          .navBrand {
            .navLogo {
              display: none;
            }

            .navName {
              @include hidden();
            }

            .navVersion {
              @include hidden();
            }
          }
        }

        @media (min-width: $mediaXs) {
          min-height: $navSz2;

          .navbar-nav {
            font-size: 38px;
          }
        }

        @media (min-width: $mediaLg) {
          order: 1;

          .navLogo {
            display: block;
            width: 46px;
            margin-right: 0.5em;
          }

          .navName {
            display: inline;
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
            color: $col-structure-light4;
          }

          .navVersion {
            display: inline;
            font-size: $txSm;
            align-self: baseline;
            margin-left: 0.5em;
            text-decoration: none;
            color: $col-structure-light4;
          }

          .navbar-nav {
            font-size: $h5;
            justify-content: flex-end;

            a.nav-link {
              flex-grow: 0;
              margin-right: 2em;

              span {
                display: inline-block;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }


      }

      #Main {
        flex-grow: 1;
        order: 1;
        width: 100%;
        margin: 0 auto; // center
        position: relative;
        overflow: auto;
        background: linear-gradient($col-light, $col-primary-light4);

        @media (min-width: $mediaLg) {
          order: 2;
        }

        @media (min-width: $mediaXL) {
          &.container, &.container-xl {
            max-width: 1400px;
          }
        }

        @media (min-width: $mediaXX) {
          &.container, &.container-xl {
            max-width: 2000px;
          }
        }

        .pageContainer {
          flex: 1 1 auto;
          min-height: calc(568px - #{$navSz1}); // always at least iPhoneSE tall
          height: calc(100vh - #{$navSz1});
          @include colPadding();

          @media (min-width: $mediaXs) {
            min-height: calc(568px - #{$navSz2}); // always at least iPhoneSE tall
            height: calc(100vh - #{$navSz2});
          }
        }

        #PageIntro {
          flex-wrap: nowrap;

          .introTop, .introBottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #Logo {
              width: 100px;
            }
          }

          .introTop {
            flex-grow: 1;
          }

          .introBottom {
          }

          @media (min-width: $mediaSm) {
            .introTop, .introBottom {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              #Logo {
                width: 200px;
              }
            }
          }

          @media (min-width: $mediaLg) and (min-height: $mediaLg) {
            .introTop {
              justify-content: flex-start;
              padding-top: $pad7;
              height: auto;
              margin-bottom: $pad7;
              flex-grow: 0;

              #Logo {
                width: 300px;
                margin-bottom: $pad3;
              }
            }
          }
        }

        #PageIntroSearch {
          @include row;
          flex-wrap: nowrap;
          flex-grow: 1;
          flex-direction: column;

          .nav {
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;

            .navbar-nav {
              justify-content: space-between;

              .nav-link {
                cursor: pointer;
                flex-grow: 0;

                &:last-child {
                  span {
                    margin-right: 0.5em;
                  }
                }
              }
            }
          }

          @media (min-width: $mediaLg) {
            max-width: 800px;
            margin: 0 auto;
            padding: $pad5 0;

            .nav {
              position: relative;

              .navbar-nav {

              }
            }
          }

          #Keywords {

            .keywordsInner {
              display: flex;
              flex-direction: column;

              .tiles {
                flex-grow: 1;
                display: flex;
                flex-wrap: wrap;
                overflow: auto;

                .tile {
                  flex: 1 1 auto;
                  background-color: $col-light;
                  border: 1px solid $col-primary-light3;
                  color: $col-primary-dark;
                  font-size: $h4;
                  text-align: center;
                  padding: $pad2;
                  border-radius: $pad2;
                  margin: $pad1;
                  cursor: pointer;

                  &.active {
                    background-color: $col-info;
                    border-color: $col-info-dark;
                    color: $col-info-light5;
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}

