@import 'utils';
@import 'colors';
@import 'vars';
@import 'components';

@mixin colPadding {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

html#ov {
  // override bootstrap styles
  height: var(--app-height);

  @media (min-width: $mediaLg) and (min-height: $mediaLg) {
    font-size: 20px; //increase all fonts on large screens
  }

  body {
    height: var(--app-height);
    width: 100%;
    position: fixed;
    overflow: hidden;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $col-text;

    #root {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: var(--app-height);

      .nav {
        display: flex;
        align-items: center;
        min-height: $navSz1;
        padding: 0 $pad3;
        order: 2; // nav on the bottom for mobile
        background-color: $col-structure;
        color: $col-text-light;

        .navbar-nav {
          flex-grow: 1;
          font-size: 20px;
          display: flex;
          justify-content: space-around;

          a.nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
          }

          a.nav-link,
          .btn.navbar-btn {
            flex-grow: 1;
            color: inherit;

            span {
              display: none;
              line-height: 1;
              margin-left: 0.5em;
            }

            &:hover,
            &:active,
            &.active {
              opacity: 0.4;
              text-decoration: none;
            }

            &:disabled,
            &.disabled,
            &[aria-disabled="true"] {
              opacity: 0.2;
            }
          }
        }

        .navBrand {
          display: flex;
          align-items: center;
          text-decoration: none;
        }

        @media (max-width: $mediaMaxMd) {
          .navBrand {
            .navLogo {
              display: none;
            }

            .navName {
              @include hidden();
            }

            .navVersion {
              @include hidden();
            }
          }
        }

        @media (min-width: $mediaXs) {
          min-height: $navSz2;

          .navbar-nav {
            font-size: 38px;
          }
        }

        @media (min-width: $mediaLg) {
          order: 1;

          .navLogo {
            display: block;
            width: 46px;
            margin-right: 0.5em;
          }

          .navName {
            display: inline;
            font-size: 40px;
            font-weight: 700;
            text-decoration: none;
            color: $col-text-light; // override link color
          }

          .navVersion {
            display: inline;
            font-size: $txSm;
            align-self: baseline;
            margin-left: 0.5em;
            text-decoration: none;
            color: $col-text-light; // override link color
          }

          .navbar-nav {
            font-size: $h5;
            justify-content: flex-end;

            a.nav-link,
            .btn.navbar-btn {
              flex-grow: 0;
              margin-right: 2em;

              span {
                display: inline-block;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }


      }

      #Main {
        flex-grow: 1;
        order: 1;
        width: 100%;
        margin: 0 auto; // center
        position: relative;
        overflow: auto;
        background: linear-gradient($col-primary-light9, $col-primary-light6);

        @media (min-width: $mediaLg) {
          order: 2;
        }

        @media (min-width: $mediaXL) {
          &.container, &.container-xl {
            max-width: 1400px;
          }
        }

        @media (min-width: $mediaXX) {
          &.container, &.container-xl {
            max-width: 2000px;
          }
        }

        .pageContainer {
          flex: 1 1 auto;
          flex-direction: column;
          flex-wrap: nowrap;
          flex-grow: 1;
          @include colPadding;
          padding-top: $pad3;
        }

        #PageIntro {
          flex-wrap: nowrap;

          .introTop, .introBottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #Logo {
              width: 150px;
            }
          }

          .introTop {
            flex-grow: 1;
          }

          .introBottom {
          }

          @media (min-width: $mediaXs) {
            .introTop {
              #Logo {
                width: 200px;
              }
            }
          }

          @media (min-width: $mediaSm) {
            .introTop, .introBottom {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              #Logo {
                width: 250px;
              }
            }
          }

          @media (min-width: $mediaLg) and (min-height: $mediaLg) {
            .introTop {
              justify-content: flex-start;
              padding-top: $pad7;
              height: auto;
              margin-bottom: $pad6;
              flex-grow: 0;

              #Logo {
                width: 300px;
                margin-bottom: $pad3;
              }
            }
          }
        }

        #PageIntroSearch {
          @include row;
          flex-wrap: nowrap;
          flex-grow: 1;
          flex-direction: column;
          height: calc(var(--app-height) - #{$navSz1});

          @media (min-width: $mediaXs) {
            height: calc(var(--app-height) - #{$navSz2});
          }

          .nav {
            position: fixed;
            left: 0;
            bottom: 0;
            right: 0;

            .navbar-nav {
              justify-content: stretch;
              align-items: center;

              div {
                text-align: center;
                flex-basis: 80%;
              }

              .nav-link {
                cursor: pointer;
                flex-grow: 0;
                flex-basis: 10%;
                background-color: transparent;
                border: none;
                color: $col-text-light;
                text-align: left;

                span {
                  margin-left: 0.5em;
                }

                &:disabled {
                  opacity: 0.2;
                }

                &:last-child {
                  text-align: right;
                  span {
                    margin-left: 0;
                    margin-right: 0.5em;
                  }
                }
              }
            }
          }

          @media (max-width: $mediaMaxMd) {
            .nav {
              .navbar-nav {
                .nav-link {
                  span {
                    @include hidden();
                  }
                }
              }
            }
          }

          @media (min-width: $mediaLg) {
            max-width: 800px;
            margin: 0 auto;
            padding: $pad5 0;

            .nav {
              position: relative;

              .navbar-nav {
                .nav-link, div {
                  flex-basis: 33%;
                }
              }
            }
          }

          #Keywords {
            flex-grow: 1;
            padding-bottom: $pad3;

            .keywordsInner {
              display: flex;
              flex-direction: column;

              .tilesWrapper {
                position: relative;
                display: flex;
                flex-direction: column;
                overflow: hidden;

                .tiles {
                  flex-grow: 1;
                  display: flex;
                  flex-wrap: wrap;
                  overflow: auto;
                  position: relative;

                  .tile {
                    flex: 1 1 auto;
                    background-color: $col-light;
                    border: 1px solid $col-primary-light3;
                    color: $col-primary-dark;
                    font-size: $h4;
                    text-align: center;
                    padding: $pad2;
                    border-radius: $pad2;
                    margin: $pad1;
                    cursor: pointer;

                    &.active {
                      background-color: $col-info;
                      border-color: $col-info-dark;
                      color: $col-info-light5;
                    }
                  }
                }

                #TileWarning {
                  position: absolute;
                  top: -5px;
                  bottom: -5px;
                  left: -5px;
                  right: -5px;
                  background: $col-warning-op1;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: $h3;
                  color: $col-text-light;
                  padding: $pad4;
                }
              }
            }
          }

          #Raise {
            flex-grow: 1;
            padding-bottom: $pad3;

            .raiseInner {
              display: flex;
              flex-direction: column;

              .sliderWrapper {
                padding-left: 90px;
                padding-right: 90px;
                margin: auto 0;
                flex-grow: 0;
              }

              @media (max-width: 414px) {
                .sliderWrapper {
                  flex-grow: 1;
                  padding: 0;

                  .sliderMin {
                    top: auto;
                    bottom: 0;
                  }

                  .sliderMax {
                    left: 0;
                  }

                  .range-slider__wrap {
                    transform: rotate(-90deg) translateY(-200%); // make room for the label

                    .range-slider__tooltip {
                      transform: rotate(90deg);

                      .range-slider__tooltip__label {
                        transform: translateX(0);
                        top: -40%;
                        left: -14px;
                      }

                      .range-slider__tooltip__arrow {
                        transform: translateX(-0.8rem) rotate(-90deg);
                        top: 50%;
                        left: -10px;
                      }
                    }
                  }
                }
              }
            }
          }

          #Location {
            flex-grow: 1;
            padding-bottom: $pad3;

            .locationInner {
              display: flex;
              flex-direction: column;

              .formWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;

                form {
                  margin-bottom: 100px;
                }
              }
            }

            @media (min-width: $mediaLg) {
              .locationInner {
                .formWrapper {
                  form {
                    margin-bottom: 180px;
                    width: 80%;
                  }
                }
              }
            }
          }
        }

        #PageSearch {
          margin-top: 74px;
          position: relative;

          .searchDetailsBar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 10;

            .primaryDetails {
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-size: $h3;
              background-color: $col-structure;
              color: $col-text-light;
              padding: $pad2;

              .primaryDetailsLink {
                font-size: $h5;
                font-weight: 700;
              }
            }

            .secondaryDetails {
              padding: $pad3;
              background-color: $col-primary-light;
              color: $col-text-light;

              p:last-child {
                margin: 0;
              }
            }
          }

          @media (min-width: $mediaXs) {
            .searchDetailsBar {
              .primaryDetails {
                .primaryDetailsLink {
                  font-size: $h3;
                }
              }
            }
          }

          @media (min-width: $mediaLg) {
            margin-top: 0;
            padding-top:$pad3;

            .searchDetailsBar {
              position: static;
              height: auto;
              margin: 0 0 $pad3 0;

              .primaryDetails {
                padding: 0;
                background-color: transparent !important;
                color: $col-text;
                border-bottom: 2px solid $col-primary;

                .primaryDetailsLink {
                  color: $col-text !important;
                }
              }

              .secondaryDetails {
                border-bottom-right-radius: $pad2;
                border-bottom-left-radius: $pad2;
              }
            }

            .results {
              position: relative; // no idea why this is needed, without it the pageContainer is the height of all the results regardless of the overflow.
              overflow: auto;
            }
          }

          .searchAlert {
            position: absolute;
            z-index: 10;
            left: 0;
            right: 0;
          }
        }

        #PageBoard {
          margin-top: 44px;

          .boardDetailsBar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            .primaryDetails {
              background-color: $col-structure;
              padding: $pad2 $pad3;

              .primaryDetailsLink {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                color: $col-text-light;
                font-size: $h5;
                font-weight: 700;
              }
            }

            .secondaryDetails {
              padding: $pad3;
              background-color: $col-light;
              color: $col-primary-dark2;
              border: $col-primary 2px solid;
              border-top: none;

              p:last-child {
                margin: 0;
              }
            }
          }

          @media (min-width: $mediaLg) {
            margin-top: 0;
            padding-top:$pad3;

            .boardDetailsBar {
              position: static;
              height: auto;
              margin: 0 0 $pad3 0;

              .primaryDetails {
                padding: 0;
                background-color: transparent !important;
                color: $col-text;
                border-bottom: 2px solid $col-primary;

                .primaryDetailsLink {
                  color: $col-text !important;
                  font-size: $h3;
                }
              }

              .secondaryDetails {
                border-bottom-right-radius: $pad2;
                border-bottom-left-radius: $pad2;
              }
            }

            .results {
              position: relative;
              overflow: auto;
            }
          }
        }

        #PageProfile {
          margin-bottom: $pad4;
        }

        #PageTalk {
          margin-bottom: $pad4;
        }
      }

    } //end #Root
  }
}

