@import 'colors.scss';
@import 'vars.scss';

@mixin hidden {
  position: absolute;
  overflow: hidden;
  left: -100000px;
  top: auto;
  width: 1px;
  height: 1px;
}

@mixin link {
  text-decoration: underline;
  color: $col-primary;

  &:hover {
    color: $col-primary-dark2;
  }
}

html#ov {
  // override bootstrap styles

  #root {

    a {
      @include link();
    }

    .txLink { // use for non-anchor interactive elements styled like links
      @include link();
      cursor: pointer;
    }

    .clickable {
      cursor: pointer;
    }

    .btn {
      border-radius: $pad3;
      max-width: $maxBtn;
      font-size: $tx;
      padding: $pad2 $pad3;
      text-decoration: none;

      @media (min-width: $mediaXs) {
        font-size: $h3;
        padding: $pad2 $pad3;
      }
    }

    .btnNoMax {
      max-width: none;
    }

    .btnResponsiveMax {
      max-width: none;

      @media (min-width: $mediaLg) {
        max-width: $maxBtn;
      }
    }

    .btn.iconBtn {
      min-width: 3rem;
    }

    .input-radius {
      border-radius: $pad2;
    }

    .noTextOverflow {
      display: block;
      overflow: hidden;
      text-wrap: none;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .h1, h1 {
      font-size: $h1;
      font-weight: 700;
    }

    .h2, h2 {
      font-size: $h2;
      font-weight: 700;
    }

    .h3, h3 {
      font-size: $h3;
      font-weight: 700;
    }

    .h4, h4 {
      font-size: $h4;
      font-weight: 500;
    }

    .h5, h5 {
      font-size: $h5;
      font-weight: 500;
    }

    .txs-3 {
      font-size: $tx;
    }

    .txs-2 {
      font-size: $txMd;
    }

    .txs-1 {
      font-size: $txSm;
    }

    .h-sm-4 {
      @media (min-width: $mediaSm) {
        font-size: $h4;
      }
    }

    .h-lg-1 {
      @media (min-width: $mediaLg) {
        font-size: $h1;
      }
    }

    .h-lg-5 {
      @media (min-width: $mediaLg) {
        font-size: $h5;
      }
    }

    .txs-lg-1 {
      @media (min-width: $mediaLg) {
        font-size: $txSm;
      }
    }

    .txs-lg-2 {
      @media (min-width: $mediaLg) {
        font-size: $txMd;
      }
    }

    .tx-lg-tx3 {
      @media (min-width: $mediaLg) {
        font-size: $tx;
      }
    }

    .responsiveImg {
      width: 100%;
      height: auto;
    }

    .inlineImg {
      height: 1em;
      width: auto;
    }

    .gutter {
      // use on elements with d-flex
      &:last-child {
        margin-right: 0;
      }
    }

    .gutter-1 {
      @extend .gutter;

      & > * {
        margin-right: 0.25rem;
      }
    }

    .gutter-2 {
      @extend .gutter;

      & > * {
        margin-right: 0.5rem;
      }
    }

    .gutter-3 {
      @extend .gutter;

      & > * {
        margin-right: 1rem;
      }
    }

    .gutter-4 {
      @extend .gutter;

      & > * {
        margin-right: 1.5rem;
      }
    }

    .gutter-5 {
      @extend .gutter;

      & > * {
        margin-right: 3rem;
      }
    }

    .hidden {
      @include hidden();
    }
  }
}
