$pad: 1.25rem; // 20px, matches bootstrap
$padSm: 0.625rem; //10px
$padTn: 0.3125rem; //5px
$padTop: 8.75rem; // compensate for fixed top nav

$h1: 3rem;
$h2: 2rem;
$h3: 1.8rem;
$h4: 1.5rem;
$h5: 1.2rem;
$tx: 1rem;
$txMd: 0.8rem;
$txSm: 0.625rem;

$mediaSm: '576px';
$mediaMd: '768px';
$mediaLg: '992px';
$mediaXL: '1200px';
$mediaXX: '2000px';

$mediaMaxSm: '767px';
$mediaMaxMd: '991px';
$mediaMaxLg: '1199px';
$mediaMaxXL: '1999px';


